div.navbar + div.container {
    margin-top: 70px;
}
.leaflet-container{
    position: relative;
    width: 100%;
}
.leaflet-container:before{
    content: "";
    display: block;
    padding-top: 56.25%;
}
.leaflet-content{
    position:  absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}